@font-face {
    font-family: 'ItalianPlateNo1';
    src: url('../fonts/ItalianPlateNo1-Light.eot');
    src: url('../fonts/ItalianPlateNo1-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ItalianPlateNo1-Light.woff') format('woff'),
    url('../fonts/ItalianPlateNo1-Light.ttf') format('truetype'),
    url('../fonts/ItalianPlateNo1-Light.svg#ItalianPlateNo1-Light') format('svg');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'ItalianPlateNo1';
    src: url('../fonts/ItalianPlateNo1-Regular.eot');
    src: url('../fonts/ItalianPlateNo1-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ItalianPlateNo1-Regular.woff') format('woff'),
    url('../fonts/ItalianPlateNo1-Regular.ttf') format('truetype'),
    url('../fonts/ItalianPlateNo1-Regular.svg#ItalianPlateNo1-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ItalianPlateNo1';
    src: url('../fonts/ItalianPlateNo1-Demibold.eot');
    src: url('../fonts/ItalianPlateNo1-Demibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ItalianPlateNo1-Demibold.woff') format('woff'),
    url('../fonts/ItalianPlateNo1-Demibold.ttf') format('truetype'),
    url('../fonts/ItalianPlateNo1-Demibold.svg#ItalianPlateNo1-Demibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ItalianPlateNo1';
    src: url('../fonts/ItalianPlateNo1-Extrabold.eot');
    src: url('../fonts/ItalianPlateNo1-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ItalianPlateNo1-Extrabold.woff') format('woff'),
    url('../fonts/ItalianPlateNo1-Extrabold.ttf') format('truetype'),
    url('../fonts/ItalianPlateNo1-Extrabold.svg#ItalianPlateNo1-Extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}